
.DS_Store
tmpPlay/
/examplesFromPaper/flowers/flowersResults
/examplesFromPaper/rom/romResults
/examplesFromPaper/lipschitzConstant/resultsLipschitz
/examplesFromPaper/flowers/cifar10
*.asv
*.mat
/examplesFromPaper/digits/digitsResults
/examplesFromPaper/indexTracking/indexTrackingResults
/examplesFromPaper/leastSquares/lsResults
/examplesFromPaper/lipschitzContinuity/LipschitzConvergenceResults
